/* @theme HTW */

@import 'gaia';

@font-face {
  font-family: 'HTWBerlinOffice';
  font-style: normal;
  font-weight: normal;
  src: URL('Bilder/HTWBerlinOffice-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HTWBerlinOffice';
  font-style: normal;
  font-weight: bold;
  src: URL('Bilder/HTWBerlinOffice-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HTWBerlinOffice';
  font-weight: normal;
  font-style: italic;
  src: URL('Bilder/HTWBerlinOffice-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'HTWBerlinOffice';
  font-weight: bold;
  font-style: italic;
  src: URL('Bilder/HTWBerlinOffice-BoldItalic.ttf') format('truetype');
}

pre {
  margin-top: 5px;  
}

table {
  margin-top: 5px;
}

h1 {
  color: #000000;
}

h2 {
  font-size: 50px;
}

text {
  color: #000000;
}

pre > code {
  background: #e0e0e0;
  color: #202020;
  border: 1px solid #808080;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

span.hljs-number {
  color: #0000b0;
}

span.hljs-keyword {
  color: #b00000;
}

span.hljs-built_in {
  color: #202020;
}

span.hljs-string {
  color: #008000;
}

span.hljs-title {
  color: #b000b0;
}

span.hljs-params {
  color: #202020;
}

span.hljs-comment {
  color: #707070;
}


section {
  font-family: HTWBerlinOffice;
  background-color: white;
  color: black;
}

/* Styling page number */
section::after {
  position: absolute;
  left: 1200px;
  top: 10px;
  width: 100px;
  color: black;
  background-color: white;
}

footer {
  bottom: 0px;
  left: 120px;
  background-color: #76B900;
  color: #ffffff;
  text-align: center;
  font-size: 15pt;
  padding-top: 0px;
  width: 1000px;
  height: 50px;
  background-image: url("Bilder/HTW.png");
  background-repeat: no-repeat;
  background-position-x: 910px;
  background-position-y: 12px;
  background-size: 80px;
}

ul {
  margin-top: 0px;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #76B900;
  font-family: 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif;
  font-size: 0.8em;
  margin-left: -40px;
  display: inline-block;
  width: 30px;
}
